[Desktop Entry]
Categories=Utility;Security;Qt;
Exec=/usr/bin/keepassxc
GenericName=Password Manager
Hidden=true
Icon=keepassxc
MimeType=application/x-keepass2;
Name=KeePassXC
StartupNotify=true
StartupWMClass=keepassxc
Terminal=false
TryExec=/usr/bin/keepassxc
Type=Application
Version=1.0true
X-GNOME-Autostart-enabled=true
